
#Loging a{
    font-size: 12px;
    font-family: Times New Roman;
    color: black;
}
#Loging a:hover{
    
    color: #125688;
}
#Compte a{
    font-size: 12px;
    font-family: Times New Roman;
    color: black;
}
#Compte a:hover{
    
     color: #125688;
}
#WEl{
    
    font-size: 20px;
}


